<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Doctors Appointment Booking System</h1>
    <div class="d-flex">
      <button class="btn btn-success"(click)="goToPage('signup')"> Sign-Up </button>

      <button  class="btn btn-success">Admin Login</button>
      <button  class="btn btn-success">User Login</button>

   </div>
  </div>
</nav>
<br>
<div class="card" style="max-width: 1000px; " style="height:fit-content">
  <img [src]="myimage" alt="">
</div>

